<div id="section_about_us">
  <div class="container-fluid">
    <div class="row">
      <img src="../../../assets/about_us/about_us_1.jpg" class="img-fluid" alt="img_1">
      <img src="../../../assets/about_us/about_us_2.jpg" class="img-fluid" alt="img_2">
      <div class="col-lg-12 bg-green">
        <div class=" col-lg-6 col-lg-offset-right-6">
          <div class="text">
            {{some_text}}
          </div>
          <button class="pull-right">Дізнатись більше</button>
        </div>
      </div>
    </div>
  </div>
</div>