#about_kosiv{
    height: 500px;
    background-image: url('../../assets/bg/bg_kosiv.jpg');
    background-size: cover;
    .title {
        font-size: 50px;
        font-weight: 800;
        color: #ffffff;
    }
    .article{
        color: #ffffff;
    }
}