<div class="form w-100 list-group">
  <div class="text-center">
    <div class="label mt-3 mb-4">
      Забронювати номер зараз
    </div>
    <div class="container-fluid">
      <ul class=" d-flex justify-content-around list-inline mb-4">
        <li class="list-inline-item text-left pt-2 pb-2 pl-2" *ngFor="let form_item of form">
          {{form_item}}
          <span [ngSwitch]="form_item" class="pull-right mr-2">
              <i *ngSwitchCase="'Дата заїзду'" class="fa fa-calendar"></i>
              <i *ngSwitchCase="'Дата виїзду'" class="fa fa-calendar"></i>
              <i *ngSwitchCase="'Тип номеру'" class="fa fa-caret-down"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>